@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: 0.5s;
}

.wrapper {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  transition: 0.3s;
}

.logo a {
  color: var(--white);
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 2rem;
  letter-spacing: 2px;
}

.linkscontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.link a {
  color: var(--white);
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
}

.bars {
  display: none;
}

@media screen and (max-width: 768px) {
  .linkscontainer {
    display: none;
  }
  .bars {
    display: block;
    color: var(--white);
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: 1.1rem;
  }
}
