.wrapper {
  width: 90%;
  height: 100vh;
  display: block;
  margin: 0 auto;
}

.header {
  margin: 2rem auto 1rem;
}

.underline {
  width: 60%;
  height: 3px;
  background: var(--first-color);
}

.image {
  width: 40vw;
  height: 80vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containertext {
  width: 40%;
  display: block;
}

.containertext h2 {
  color: var(--white);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.containertext p {
  color: var(--contrast-one);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.containertext a {
  padding: 1rem 2rem;
  color: var(--white);
  background: var(--first-color);
  transition: 0.4s;
  border: 1px solid var(--first-color);
}

.containertext a:hover {
  background: var(--second-color);
}
